<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <receiver
            android:name=".DebugCommandReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="app.timetravel.debug.ENABLE_LISTENING" />
                <action android:name="app.timetravel.debug.DISABLE_LISTENING" />
                <action android:name="app.timetravel.debug.CLEAR_BUFFER" />
                <action android:name="app.timetravel.debug.EXPORT_FULL" />
                <action android:name="app.timetravel.debug.EXPORT_SECONDS" />
                <action android:name="app.timetravel.debug.CHECKPOINT" />
                <action android:name="app.timetravel.debug.LOG_STATE" />
                <action android:name="app.timetravel.debug.DUMP_REPORT" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".DebugQueryReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="app.timetravel.debug.QUERY_STATUS" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
