<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application>
        <service
            android:name=".TimeTravelService"
            android:exported="true"
            tools:ignore="ExportedService"
            tools:replace="android:exported"
            tools:node="merge" />

        <receiver
            android:name=".DebugCommandReceiver"
            android:exported="true"
            tools:ignore="ExportedReceiver">
            <intent-filter>
                <action android:name="app.smallthingz.timetravel.debug.ENABLE_LISTENING" />
                <action android:name="app.smallthingz.timetravel.debug.DISABLE_LISTENING" />
                <action android:name="app.smallthingz.timetravel.debug.CLEAR_BUFFER" />
                <action android:name="app.smallthingz.timetravel.debug.INJECT_BUFFER" />
                <action android:name="app.smallthingz.timetravel.debug.FORCE_APP_STORAGE_EXPORTS" />
                <action android:name="app.smallthingz.timetravel.debug.EXPORT_FULL" />
                <action android:name="app.smallthingz.timetravel.debug.EXPORT_SECONDS" />
                <action android:name="app.smallthingz.timetravel.debug.MERGE_ALL" />
                <action android:name="app.smallthingz.timetravel.debug.REENCODE_ALL" />
                <action android:name="app.smallthingz.timetravel.debug.SET_OUTPUT_CONFIG" />
                <action android:name="app.smallthingz.timetravel.debug.APPLY_SETTINGS" />
                <action android:name="app.smallthingz.timetravel.debug.CHECKPOINT" />
                <action android:name="app.smallthingz.timetravel.debug.LOG_STATE" />
                <action android:name="app.smallthingz.timetravel.debug.DUMP_REPORT" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".DebugQueryReceiver"
            android:exported="true"
            tools:ignore="ExportedReceiver">
            <intent-filter>
                <action android:name="app.smallthingz.timetravel.debug.QUERY_STATUS" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
